/* hero section */
.hero {
    min-height: 100vh;
    background: url('images/helloworld.png');
    background-size:cover;
    background-position: bottom;

    /* flexbox */
    /*display: flex;
    justify-content: center;
    align-items: center;*/

    /* grid */
    display: grid; 
}

.hero-inner {
    max-width: 90%;
    /* text-align: center; */
    place-self: center;
    color: blueviolet;
    padding: 1rem;
}

@media (min-width: 700px) {
    .hero-inner {
        max-width: 50%;
        place-self: center;
        color: blueviolet;
    }
}

.hero-title {
    font-size: 4.5rem;
    margin: 0 0 1rem;
    animation: fadeinup 1s forwards;
    opacity: 0;
}

.hero-text {
    font-size: 2rem;
    animation: fadeinup 1s forwards;
    /* add this in if you want the title to "pull" up the text */
    animation-delay: 0ms;
}

/* animations for hero */

@keyframes fadeinup {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-20px);
    }
}


/* about section image css */
.imageAboutPage {
    width: 100%;
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: blueviolet;
}
.servicesText:hover {
    border: 1px solid blueviolet;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* navbar stuff */

#navbar {
    display: flex;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: opacity .5s cubic-bezier(.4,0,.2,1), visibility .5s cubic-bezier(.4,0,.2,1);
    /*transition: transform .5s cubic-bezier(.4,0,.2,1);*/
}
#navbar a {
  color: white;
  text-decoration: none;
}
#navbar > * {
    padding: 1rem;
}
.nav-container:hover #navbar {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/* social media icons styling */

.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #4267B2;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: lightsteelblue;
    text-align: center;
}
iframe {
    margin: 0 auto;
    background-color: #777;
    display: block;
    border-style:none;
}
