/* hero section */
.hero {
    min-height: 100vh;
    background: url('images/helloworld.png');
    background-size:cover;
    background-position: bottom;

    /* grid */
    display: grid; 
}

.hero-inner {
    max-width: 90%;
    /* text-align: center; */
    place-self: center;
    color: #5b85aa;
    padding: .5rem;
}

@media (min-width: 700px) {
    .hero-inner {
        max-width: 50%;
        place-self: center;
        color: #5b85aa;
    }
}

.hero-title {
    font-size: 4.5rem;
    margin: 0 0 1rem;
    animation: fadeinup 1s forwards;
    opacity: 0;
}

.hero-text {
    font-size: 2rem;
    animation: fadeinup 1s forwards;
    /* add this in if you want the title to "pull" up the text */
    animation-delay: 0ms;
}

.typewriter {
    font-family: 'Roboto Mono', monospace;
    font-size: 4.5rem;
    overflow: hidden;
    border-right: .05em solid #f46036;
    white-space: nowrap;
    margin: 0 0 1rem;
    letter-spacing: .02em;
    animation:
        typing 1.2s steps(40, end),
        blink-caret .75s step-end infinite;
    animation-delay: 0ms;
}

/* The typing effetc */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f46036; }
}

/* animations for hero */

@keyframes fadeinup {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-20px);
    }
}


/* about section image css */
.imageAboutPage {
    width: 30vw;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-left: 30px;
    padding-bottom: 30px;
}

#hp {
    float: left;
    margin: 15px 0 0 0;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
}
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    border: 300px solid  #f46036;
}

.servicesText:hover {
    border: 20px solid #f46036;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}
a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

#about a {
    font-family: 'Roboto Mono', monospace;
    color: #5b85aa;
    font-weight:lighter;
    font-size: 18px;
    text-transform: capitalize;
}

#courses a {
    font-family: 'Roboto Mono', monospace;
    color: #5b85aa;
    font-weight:lighter;
    font-size: 18px;
    text-transform: capitalize;
}

/* navbar stuff */
.nav-container {
    position: fixed; /* Keep the navbar fixed on the screen */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Set a high z-index to make it overlap other content */
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s cubic-bezier(.4, 0, .2, 1), transform 0.5s cubic-bezier(.4, 0, .2, 1);
    flex-shrink: 1;
}

#navbar a {
    display: inline-flex;
    color: #414770;
    transition: color 0.3s ease;
    pointer-events: none;
    padding: 10px 15px;
}


#navbar > * {
    padding: 1rem;
}

.nav-container:hover #navbar {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto; /* Enable pointer events when hovered to make the navbar interactive */
}

#navbar:hover a {
    pointer-events: auto;
}

#navbar:hover {
    background-color: rgba(255, 255, 255, 0.0); /* Add a transparent background color on hover */
    pointer-events: auto;
}
.link-container a {
    padding-right: 5px;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace; 
    text-transform: lowercase;
}
.link-container:hover a {
    text-decoration: underline;
}

.hamburger {
    display: none;
}

.about-me-text {
    font-size: 18px;
    color: #5b85aa
}

@media screen and (max-width: 1000px) {

    .about-me-text {
        font-size: 2.0vw;
        color: #5b85aa;
    }
    #about a {
        font-family: 'Roboto Mono', monospace;
        color: #5b85aa;
        font-weight:lighter;
        font-size: 2.0vw;
        text-transform: capitalize;
    }

    #navbar a {
        display: none;
    }
    .hamburger {
        display: flex;
        align-items: center;
    }
    #menuToggle {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }
    #menuToggle span {
        display: block;
        width: 30px;
        height: 4px;
        margin: 6px auto;
        position: relative;
        z-index: 1;
        background-color: #f46036;
        border-radius: 3px;
        /* transition: background-color 0.3s ease; */
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    #menu {
        position: absolute;
        width: 250px;
        margin: -100px 0 0 0;
        padding: 50px;
        padding-top: 125px;
        right: -100px;

        background: #000000;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menu li a {
        display: block;
        padding: 0 0;
        font-size: 22px;
        color: #414770;
        text-align: left;
        text-decoration: none;
        text-transform: lowercase;
        transition: background-color 0.3s ease;
    }
    #menu li:hover a {
        text-decoration: underline;
    }
    #menuToggle input:checked ~ ul
    {
        transform: none;
        opacity: 1;
    }
    .hamburger .dropdown-menu {
        display: none;
        position: absolute;
        right: 0;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .hamburger.show .dropdown-menu {
        display: block;
    }
}

/* Other stuff */

iframe {
    margin: 0 auto;
    background-color: #777;
    display: block;
    border-style:none;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
}

.personal-description {
    padding-top: 60px;
}

.about-me-description {
    padding-top: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.text {
    font-size: 18px;
    color: #5b85aa;
}

#contact #submit-button {
    background-color: #3a833a;
    color: #ffffff;
    padding: 7px 12px 7px 12px;
    border: none;
    border-radius: 3px;
}

.contact-email {
    text-align: center;
    vertical-align: center;
}